allow untrusted_app persist_camera_prop:file { read };
allow untrusted_app sysfs_kgsl:dir { search };
allow untrusted_app vendor_default_prop:file { read };
